/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FDF8F0;
	font-family: 'Times New Roman', Times, serif;
	font-size: x-large;
}

.logo-text-color {
	color: #D18965;
	font-size: xx-large;
	font-weight: bold;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.image-div {
	background-image: url("../images/yoga/woman\ yoga\ home\ pages\ crop.jpg");
	background-size: cover;
	background-position: center;
	height: 100%;
}

.image-div-about {
	background-image: url("../images/yoga/woman\ meditatingcropdreamy.jpg");
	background-size: cover;
	background-position: center;
	/* height: 100%; */
	display: flex;
	justify-content: space-between;	
	
}.image-div-services {
	background-color: #fffcf8;
	
	display: flex;
	justify-content: space-between;	
	padding: 50px;
	
}
.center-text {
	text-align: center;
}

.color-vision {
	color: #c66e4e;
	font-family: "Chicle";

}

.floating-text {
	position: relative;
	padding:250px 50px;
	font-size: x-large;
}


.floating-text-content {
	color: #FDF8F0;
	font-family: 'Times New Roman', Times, serif;
	
}
.floating-text-content-services {
	color: #0c0b0b;
	font-family: 'Times New Roman', Times, serif;
	
}

.socials {
	position: absolute;
	display: flex;
	gap: 10px;
	bottom: 80px;		
	right: 80px;
}
.services-background {
	background-color: #decfb8;
	padding: 30px	;
}
